{% extends "base.html" %}

{% block body %}

<body class="right-sidebar">

{% include 'header.html' %}

<!-- Main -->
<div id="main-wrapper">
	<div class="container">
		<div class="row">

			<div class="8u">
				<article class="box post">
					<header>
						<h2><a href="/{{ article.url }}">{{ article.title }}</a></h2>
						<a href="/{{ article.url }}" class="article image featured"><img src="{{ article.image }}" /></a>
					</header>
					{% include 'article_infos.html' %}
					<p>{{ article.content }}</p>
				</article>
			</div>

			{% include 'sidebar.html' %}

		</div>

	</div>
</div>

</body>

{% endblock %}