		<!-- Footer -->
			<div id="footer-wrapper">
				<section id="footer" class="container">
					<div class="row">
						<div class="8u" style="min-height:450px;">
							<section>
								<header>
									<h2>Dates</h2>
								</header>
								<ul class="dates">
									{% for evstart, evend, event in events_list %}
										<li>
											<span class="date">{{ evstart.strftime('%b') }}<strong>{{ evstart.strftime('%d') }}</strong></span>
											<h3><a href="/{{ event.url }}">{{ event.title }}</a></h3>
											<p>{{ event.summary }} [<a href="/{{ event.url }}">More...</a>]</p>
										</li>
									{% endfor %}
								</ul>
							</section>
						</div>
						<div class="4u">
							<section>
								<header>
									<h2>Newsletter</h2>
								</header>
								<p><a href="http://eepurl.com/bqO4lj">Subscribe</a> and stay up-to-date. We will only send one mail per month.</p>
							</section>
						</div>
						<div class="4u">
							<section>
								<header>
									<h2>Social</h2>
								</header>
								<ul class="social">
									<li><a class="icon fa-twitter" href="https://twitter.com/ubrew_it"><span class="label">Twitter</span></a></li>
									<li><a class="icon fa-github" href="https://github.com/ubrew-it"><span class="label">GitHub</span></a></li>
									<li><a class="icon fa-calendar" href="/ubrew_calendar.ics"><span class="label">iCal</span></a></li>
									<li><a class="icon fa-rss" href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}"><span class="label">RSS</span></a></li>
								</ul>
							</section>
						</div>
						<div class="4u">
							<section>
								<header>
									<h2>About</h2>
								</header>
								<ul>
									<p>
										μbrew is made by Peter and Vera.
									</p>
								</ul>
								<ul class="contact">
									<li>
										<h3>Address</h3>
										<p>
											Peter Bouda<br />
											Rua do Monte Branco Lote 2<br />
											2380-057 Alcanena<br/>
											Portugal<br/>
											<a href="http://www.peterbouda.eu">www.peterbouda.eu</a>
										</p>
									</li>
									<li>
										<h3>Mail</h3>
										<p><a href="mailto:peter@ubrew.it">peter@ubrew.it</a></p>
									</li>
									<li>
										<h3>Phone</h3>
										<p>+351 917403181</p>
									</li>
								</ul>
							</section>
						</div>
					</div>
					<div class="row">
						<div class="12u">
						
							<!-- Copyright -->
								<div id="copyright">
									<ul class="links">
										<li>&copy; Peter Bouda. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
									</ul>
								</div>

						</div>
					</div>
				</section>
			</div>
