{% extends "header.html" %}

{% block header_extras %}

<!-- Banner -->
<section id="banner" class="banner">
	<header>
		<h2>{{ SITENAME }}</h2>
		<p>{{ SITESUBTITLE }}</p>
	</header>
</section>

<!-- Intro -->
<section id="intro" class="container">
	<div class="row">
		<div class="4u">
			<section class="first">
				<i class="icon featured fa-cog"></i>
				<header>
					<h2>Build</h2>
				</header>
				<p>μbrew provides you with everything you need to build your own game console. We offer easy-to-follow tutorials that empower you to construct an open and customized gaming machine within a few hours. Learn how a modern, embedded operating system and its software stack works!</p>
			</section>
		</div>
		<div class="4u">
			<section class="middle">
				<i class="icon featured alt fa-flash"></i>
				<header>
					<h2>Learn</h2>
				</header>
				<p>The μbrew gaming platform supports development with the state-of-the-art V-Play Game Engine. Learn how to build your own games with V-Play, and publish your game on μbrew. You will also learn how to build your game for the iOS and Android platforms, to reach a wider audience and make money!</p>
			</section>
		</div>
		<div class="4u">
			<section class="last">
				<i class="icon featured alt2 fa-star"></i>
				<header>
					<h2>Play</h2>
				</header>
				<p>And after all the fun to build your own game console don't forget to play! The basic installation comes with open source games like Flappy Bird. Visit the μbrew repository to find more games and play the games with your friends. Our open platform will provide you with new games for endless fun!</p>
			</section>
		</div>
	</div>
	<footer>
		<ul class="actions">
			<li><a href="#kit" class="button big">Learn more</a></li>
			<li><a href="/build/" class="button alt big">Start to Play!</a></li>
		</ul>
	</footer>
</section>

{% endblock %}