{% extends "header.html" %}

{% block header_extras %}

<!-- Banner -->
<section id="banner" class="banner">
	<header>
		<h2>{{ SITENAME }}</h2>
		<p>{{ SITESUBTITLE }}</p>
	</header>
</section>

<!-- Intro -->
<section id="intro" class="container">
	<div class="row">
		<div class="4u">
			<section class="first">
				<i class="icon featured fa-hand-peace-o"></i>
				<header>
					<h2>Open &amp; Hackable</h2>
				</header>
				<p><b>ZEOMA is the revolution in the world of video game consoles and based on open hardware.</b> You can decide how much hardware power you need and if you want to play at home on your TV or mobile on the screen you choose. Install any OS. You can even customize the controls to your needs!</p>
			</section>
		</div>
		<div class="4u">
			<section class="middle">
				<i class="icon featured alt fa-cogs"></i>
				<header>
					<h2>Modular</h2>
				</header>
				<p><b>ZEOMA is the first modular handheld game console.</b> ZEOMA is based on the <a href="http://elinux.org/Embedded_Open_Modular_Architecture/EOMA-68">EOMA-68 concept</a>. EOMA-68 is a cartridge that contains the main hardware (CPU, GPU, RAM, etc.) that you plug into the game console, so just by changing the EOMA-68 you can increase the power of your console without buying a new device!</p>
			</section>
		</div>
		<div class="4u">
			<section class="last">
				<i class="icon featured alt2 fa-users"></i>
				<header>
					<h2>Collaborative</h2>
				</header>
				<p><b>ZEOMA is developed by a friendly community and you are invited to join in.</b> You can find more information about this project on the <a href="/about/">About page</a>. If you want to contribute to this project, please visit the <a href="/join/">Join Us page</a>.</p>
			</section>
		</div>
	</div>
	<footer>
		<ul class="actions">
			<li><a href="/about/" class="button big">Learn more</a></li>
			<li><a href="/join" class="button alt big">Join us!</a></li>
		</ul>
	</footer>
</section>

{% endblock %}
