{% extends "header.html" %}

{% block header_extras %}

<!-- Banner -->
<!--<section id="banner" class="banner">
	<header>
		<h2>{{ SITENAME }}</h2>
		<p>{{ SITESUBTITLE }}</p>
	</header>
</section>-->

<!-- Intro -->
<!--<section id="intro" class="container">
	<div class="row">
		<div class="4u">
			<section class="first">
				<i class="icon featured fa-cog"></i>
				<header>
					<h2>Build</h2>
				</header>
				<p>μbrew provides you with everything you need to build your own game console. We offer easy-to-follow tutorials that empower you to construct an open and customized gaming machine within a few hours.</p>
			</section>
		</div>
		<div class="4u">
			<section class="middle">
				<i class="icon featured alt fa-flash"></i>
				<header>
					<h2>Learn</h2>
				</header>
				<p>Learn how a modern, embedded operating system and its software stack works. Learn how to build your own games for μbrew and how to publish them on iOS and Android, to reach a wider audience!</p>
			</section>
		</div>
		<div class="4u">
			<section class="last">
				<i class="icon featured alt2 fa-star"></i>
				<header>
					<h2>Play</h2>
				</header>
				<p>Don't forget to play! Play and modify games like games Flappy Bird and visit the μbrew repository to find more games. Follow us into the world of gaming on embedded devices and DIY consoles!</p>
			</section>
		</div>
	</div>
	<footer>
		<ul class="actions">
			<li><a href="#kit" class="button big">Learn more</a></li>
			<li><a href="/build/" class="button alt big">Start to Play!</a></li>
		</ul>
	</footer>
</section>-->

{% endblock %}