{% extends "base.html" %}

{% block body %}

<body class="homepage" onload="loadCommentCounts();">

{% include 'header_index.html' %}

<!-- Main -->
<div id="main-wrapper">
	<div class="container">
		<div class="row">
			<div class="12u" id="kit">
				<section class="major">
					<header class="major">
						<h2>Welcome to ZEOMA!</h2>
					</header>
					<div class="row">
						<div class="12u">
							<section class="box">
								<p>
									Welcome to the official website of ZEOMA (provisional name).
								</p>
								<p>
									<b>ZEOMA is the revolution in the world of video game consoles</b>. ZEOMA is a video game console in which you can decide how much hardware power you need. You can decide whether to play at home on your TV or play anywhere. You can decide the type of screen you want. You can choose the OS of the game console. You can even customize the controls of the video game console!
								</p>
								<p>
									<b>ZEOMA is the first modular handheld game console</b>. ZEOMA is based on the <a href="http://elinux.org/Embedded_Open_Modular_Architecture/EOMA-68">EOMA-68 concept</a>. EOMA-68 is a cartridge (such as GameBoy cartridges) but contains the main hardware (CPU, GPU, RAM, etc.), so just changing the EOMA-68, you can increase the power of your console without buy another video game console!
								</p>
								<p>
									You can find more information about this project on the <a href="/about/">About page</a>. If you want to contribute to this project, please visit the <a href="/join/">Join Us page</a>.
								</p>
							</section>
                        </div>
					</div>
				</section>
			</div>
		</div>

		<!-- <div class="row">
			<div class="12u">
				
				<section class="major">
					<header class="major">
						<h2>Comes with Games</h2>
					</header>
					<div class="row">
						<div class="4u">
							<section class="box">
								<a href="#" class="image featured"><img src="/theme/images/pic08.jpg" alt="" /></a>
								<header>
									<h3>Flappy Bird</h3>
								</header>
								<p>Der offene Audiorekorder für Sprache, Musik, Natur und andere Geräusche, drinnen und draußen. Die Hummbeere ist ein Hardware- und Softwareprojekt auf Basis des Raspberry Pi, setzt dabei einen neuen Qualitätsstandard bei der Qualität von Audioaufnahmen.</p>
								<footer>
									<a href="#" class="button alt">View App</a>
								</footer>
							</section>
						</div>
						<div class="4u">
							<section class="box">
								<a href="#" class="image featured"><img src="/theme/images/pic09.jpg" alt="" /></a>
								<header>
									<h3>Open</h3>
								</header>
								<p>Ein ownCloud Musikplayer. Ziel des Projektes ist es zu zeigen, wie man plattformunabhängig mit Qt entwickelt. TwoMusic läuft derzeit unter Windows, Mac OS, Desktop-Linux und dem Raspberry Pi (auch als Embedded-Qt-Version ohne Fenstermanager).</p>
								<footer>
									<a href="#" class="button alt">View App</a>
								</footer>
							</section>
						</div>
						<div class="4u">
							<section class="box">
								<a href="#" class="image featured"><img src="/theme/images/pic09.jpg" alt="" /></a>
								<header>
									<h3>Create your own!</h3>
								</header>
								<p>Ein ownCloud Musikplayer. Ziel des Projektes ist es zu zeigen, wie man plattformunabhängig mit Qt entwickelt. TwoMusic läuft derzeit unter Windows, Mac OS, Desktop-Linux und dem Raspberry Pi (auch als Embedded-Qt-Version ohne Fenstermanager).</p>
								<footer>
									<a href="#" class="button alt">View App</a>
								</footer>
							</section>
						</div>
					</div>
				</section>
			</div>
		</div>-->

		<div class="row">
			<div class="12u">

				<!-- Blog -->
				<section>
					<header class="major">
						<h2>Latest μbrew blog posts</h2>
						<p><a href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" class="icon fa-rss"> RSS</a></p>
					</header>
					<div class="row">
						{% for article in dates %}
							{% if loop.index < 3 %}
								<div class="6u">
									<section class="box">
										<a href="/{{ article.url }}" class="image featured"><img src="{{ article.image }}" /></a>
										<header>
											<h3>{{ article.title }}</h3>
											{% include 'article_infos.html' %}
										</header>
										<p>{{ article.summary }}</p>
										<footer>
											<ul class="actions">
												<li><a href="/{{ article.url }}" class="button icon fa-file-text">Read</a></li>
												<li>
													<a href="/{{ article.url }}#comments" class="button alt icon fa-comment comment-count-container">
														Comment
													</a>
												</li>
											</ul>
										</footer>
									</section>
								</div>
							{% endif %}
						{% endfor %}
					</div>
				</section>
			</div>
		</div>

	</div>
</div>

</body>

{% endblock %}