{% extends "base.html" %}

{% block body %}

<body class="homepage">

{% include 'header_index.html' %}

<!-- Main -->
<div id="main-wrapper">
	<div class="container">
		<div class="row">
			<div class="12u" id="kit">
				<!-- Beere Embedded Platform Kit -->
				<section class="major">
					<header class="major">
						<h2>Build Your Own Gaming Console</h2>
					</header>
					<div class="row">
						<div class="12u">
							<section class="box">
								<!--<a href="#" class="image featured"><img src="/theme/images/pic01.jpg" alt="" /></a>-->
								<header>
									<h3>μbrew Development Kit</h3>
								</header>
								<p>The μbrew development kit is a modular framework to build your own entertainment and gaming machine. The kit is based on Buildroot, Qt and V-Play and contains a graphical environment to launch games with gamepad support and a modern code editor and designer for app and game developers. We publish all our code under the GNU General Public License Version 3, our documentation is Public Domain.</p>
								<footer>
									<a href="/build/" class="button">Build and Play!</a>&nbsp;&nbsp;&nbsp;&nbsp;
									<a href="/developers/" class="button alt">Go to Developer Page</a>
								</footer>
							</section>
						</div>
					</div>
				</section>
			</div>
		</div>

		<!-- <div class="row">
			<div class="12u">
				
				<section class="major">
					<header class="major">
						<h2>Comes with Games</h2>
					</header>
					<div class="row">
						<div class="4u">
							<section class="box">
								<a href="#" class="image featured"><img src="/theme/images/pic08.jpg" alt="" /></a>
								<header>
									<h3>Flappy Bird</h3>
								</header>
								<p>Der offene Audiorekorder für Sprache, Musik, Natur und andere Geräusche, drinnen und draußen. Die Hummbeere ist ein Hardware- und Softwareprojekt auf Basis des Raspberry Pi, setzt dabei einen neuen Qualitätsstandard bei der Qualität von Audioaufnahmen.</p>
								<footer>
									<a href="#" class="button alt">View App</a>
								</footer>
							</section>
						</div>
						<div class="4u">
							<section class="box">
								<a href="#" class="image featured"><img src="/theme/images/pic09.jpg" alt="" /></a>
								<header>
									<h3>Open</h3>
								</header>
								<p>Ein ownCloud Musikplayer. Ziel des Projektes ist es zu zeigen, wie man plattformunabhängig mit Qt entwickelt. TwoMusic läuft derzeit unter Windows, Mac OS, Desktop-Linux und dem Raspberry Pi (auch als Embedded-Qt-Version ohne Fenstermanager).</p>
								<footer>
									<a href="#" class="button alt">View App</a>
								</footer>
							</section>
						</div>
						<div class="4u">
							<section class="box">
								<a href="#" class="image featured"><img src="/theme/images/pic09.jpg" alt="" /></a>
								<header>
									<h3>Create your own!</h3>
								</header>
								<p>Ein ownCloud Musikplayer. Ziel des Projektes ist es zu zeigen, wie man plattformunabhängig mit Qt entwickelt. TwoMusic läuft derzeit unter Windows, Mac OS, Desktop-Linux und dem Raspberry Pi (auch als Embedded-Qt-Version ohne Fenstermanager).</p>
								<footer>
									<a href="#" class="button alt">View App</a>
								</footer>
							</section>
						</div>
					</div>
				</section>
			</div>
		</div>-->

		<div class="row">
			<div class="12u">

				<!-- Blog -->
				<section>
					<header class="major">
						<h2>Latest μbrew blog posts</h2>
						<p><a href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" class="icon fa-rss"> RSS</a></p>
					</header>
					<div class="row">
						{% for article in dates %}
							{% if loop.index < 2 %}
								<div class="6u">
									<section class="box">
										<a href="/{{ article.url }}" class="image featured"><img src="{{ article.image }}" /></a>
										<header>
											<h3>{{ article.title }}</h3>
											{% include 'article_infos.html' %}
										</header>
										<p>{{ article.summary }}</p>
										<footer>
											<ul class="actions">
												<li><a href="/{{ article.url }}" class="button icon fa-file-text">Read</a></li>
												<li><a href="/{{ article.url }}#comments" class="button alt icon fa-comment">0 comments</a></li>
											</ul>
										</footer>
									</section>
								</div>
							{% endif %}
						{% endfor %}
					</div>
				</section>
			</div>
		</div>

	</div>
</div>

</body>

{% endblock %}