{% extends "base.html" %}
{% block body %}

<body class="homepage">

{% include 'header_index.html' %}

<!-- Main -->
<div id="main-wrapper">
	<div class="container">
		<div class="row">
			<div class="12u">
				<!-- Beere Embedded Platform Kit -->
				<section class="major">
					<header class="major">
						<h2>Open Source Cross-Platform Game Center</h2>
					</header>
					<div class="row">
						<div class="12u">
							<section class="box">
								<!--<a href="#" class="image featured"><img src="/theme/images/pic01.jpg" alt="" /></a>-->
								<header>
									<h2>μbrew Embedded Platform Kit</h2>
								</header>
								<p>Lorem ipsum dolor sit amet sit veroeros sed et blandit consequat sed veroeros lorem et blandit  adipiscing feugiat phasellus tempus hendrerit, tortor vitae mattis tempor, sapien sem feugiat sapien, id suscipit magna felis nec elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos lorem ipsum dolor sit amet.</p>
								<footer>
									<a href="#" class="button alt">More about our Beere Embedded Platform Kit</a>
								</footer>
							</section>
						</div>
					</div>
				</section>
			</div>
		</div>

		<div class="row">
			<div class="12u">
				
				<!-- Portfolio -->
				<section class="major">
					<header class="major">
						<h2>Games</h2>
					</header>
					<div class="row">
						<div class="4u">
							<section class="box">
								<a href="#" class="image featured"><img src="/theme/images/pic08.jpg" alt="" /></a>
								<header>
									<h3>Build</h3>
								</header>
								<p>Der offene Audiorekorder für Sprache, Musik, Natur und andere Geräusche, drinnen und draußen. Die Hummbeere ist ein Hardware- und Softwareprojekt auf Basis des Raspberry Pi, setzt dabei einen neuen Qualitätsstandard bei der Qualität von Audioaufnahmen.</p>
								<footer>
									<a href="#" class="button alt">View App</a>
								</footer>
							</section>
						</div>
						<div class="4u">
							<section class="box">
								<a href="#" class="image featured"><img src="/theme/images/pic09.jpg" alt="" /></a>
								<header>
									<h3>Open</h3>
								</header>
								<p>Ein ownCloud Musikplayer. Ziel des Projektes ist es zu zeigen, wie man plattformunabhängig mit Qt entwickelt. TwoMusic läuft derzeit unter Windows, Mac OS, Desktop-Linux und dem Raspberry Pi (auch als Embedded-Qt-Version ohne Fenstermanager).</p>
								<footer>
									<a href="#" class="button alt">View App</a>
								</footer>
							</section>
						</div>
						<div class="4u">
							<section class="box">
								<a href="#" class="image featured"><img src="/theme/images/pic09.jpg" alt="" /></a>
								<header>
									<h3>Games</h3>
								</header>
								<p>Ein ownCloud Musikplayer. Ziel des Projektes ist es zu zeigen, wie man plattformunabhängig mit Qt entwickelt. TwoMusic läuft derzeit unter Windows, Mac OS, Desktop-Linux und dem Raspberry Pi (auch als Embedded-Qt-Version ohne Fenstermanager).</p>
								<footer>
									<a href="#" class="button alt">View App</a>
								</footer>
							</section>
						</div>
					</div>
					<div class="row">
						<div class="4u">
							<section class="box">
								<a href="#" class="image featured"><img src="/theme/images/pic08.jpg" alt="" /></a>
								<header>
									<h3>Language Landscape</h3>
								</header>
								<p>Der offene Audiorekorder für Sprache, Musik, Natur und andere Geräusche, drinnen und draußen. Die Hummbeere ist ein Hardware- und Softwareprojekt auf Basis des Raspberry Pi, setzt dabei einen neuen Qualitätsstandard bei der Qualität von Audioaufnahmen.</p>
								<footer>
									<a href="#" class="button alt">View App</a>
								</footer>
							</section>
						</div>
						<div class="4u">
							<section class="box">
								<a href="#" class="image featured"><img src="/theme/images/pic09.jpg" alt="" /></a>
								<header>
									<h3>Sound Diary</h3>
								</header>
								<p>Ein ownCloud Musikplayer. Ziel des Projektes ist es zu zeigen, wie man plattformunabhängig mit Qt entwickelt. TwoMusic läuft derzeit unter Windows, Mac OS, Desktop-Linux und dem Raspberry Pi (auch als Embedded-Qt-Version ohne Fenstermanager).</p>
								<footer>
									<a href="#" class="button alt">View App</a>
								</footer>
							</section>
						</div>
						<div class="4u">
							<section class="box">
								<a href="#" class="image featured"><img src="/theme/images/pic09.jpg" alt="" /></a>
								<header>
									<h3>Build your own!</h3>
								</header>
								<p>Ein ownCloud Musikplayer. Ziel des Projektes ist es zu zeigen, wie man plattformunabhängig mit Qt entwickelt. TwoMusic läuft derzeit unter Windows, Mac OS, Desktop-Linux und dem Raspberry Pi (auch als Embedded-Qt-Version ohne Fenstermanager).</p>
								<footer>
									<a href="#" class="button alt">Humbeere SDK</a>
								</footer>
							</section>
						</div>
					</div>
				</section>
			</div>
		</div>

		<div class="row">
			<div class="12u">

				<!-- Blog -->
				<section>
					<header class="major">
						<h2>Hummbeere Blog</h2>
					</header>
					<div class="row">
						<div class="6u">
							<section class="box">
								<a href="#" class="image featured"><img src="/theme/images/pic08.jpg" alt="" /></a>
								<header>
									<h3>Magna tempus consequat lorem</h3>
									<p>Posted 45 minutes ago</p>
								</header>
								<p>Lorem ipsum dolor sit amet sit veroeros sed et blandit consequat sed veroeros lorem et blandit  adipiscing feugiat phasellus tempus hendrerit, tortor vitae mattis tempor, sapien sem feugiat sapien, id suscipit magna felis nec elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos lorem ipsum dolor sit amet.</p>
								<footer>
									<ul class="actions">
										<li><a href="#" class="button icon fa-file-text">Lesen</a></li>
										<li><a href="#" class="button alt icon fa-comment">33 comments</a></li>
									</ul>
								</footer>
							</section>
						</div>
						<div class="6u">
							<section class="box">
								<a href="#" class="image featured"><img src="/theme/images/pic09.jpg" alt="" /></a>
								<header>
									<h3>Aptent veroeros et aliquam</h3>
									<p>Posted 45 minutes ago</p>
								</header>
								<p>Lorem ipsum dolor sit amet sit veroeros sed et blandit consequat sed veroeros lorem et blandit  adipiscing feugiat phasellus tempus hendrerit, tortor vitae mattis tempor, sapien sem feugiat sapien, id suscipit magna felis nec elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos lorem ipsum dolor sit amet.</p>
								<footer>
									<ul class="actions">
										<li><a href="#" class="button icon fa-file-text">Lesen</a></li>
										<li><a href="#" class="button alt icon fa-comment">33 comments</a></li>
									</ul>
								</footer>
							</section>
						</div>
					</div>
				</section>
			</div>
		</div>

	</div>
</div>

</body>

{% endblock %}