{% extends "base.html" %}

{% block body %}

<body class="right-sidebar">

{% include 'header.html' %}

<!-- Main -->
<div id="main-wrapper">
	<div class="container">
		<div class="row">

			<div class="8u">
				{% for article in articles_page.object_list %}
				<article class="box post">
					<header>
						{% include 'article_infos.html' %}
						<h2><a href="/{{ article.url }}">{{ article.title }}</a></h2>
						<a href="/{{ article.url }}" class="article image featured"><img src="{{ article.image }}" /></a>
					</header>
					<p>{{ article.summary }}</p>
					<footer>
						<ul class="actions">
							<li><a href="/{{ article.url }}" class="button icon fa-file-text">Read</a></li>
							<li><a href="/{{ article.url }}#comments" class="button alt icon fa-comment">0 comments</a></li>
						</ul>
					</footer>
				</article>
				{% endfor %}

				{% if articles_page.has_previous() or articles_page.has_next() %}
	                {% include 'pagination.html' %}
                {% endif %}

			</div>

			{% include 'sidebar.html' %}

		</div>

	</div>
</div>

</body>

{% endblock %}