{% extends "base.html" %}

{% block body %}

<body class="right-sidebar">

{% include 'header.html' %}

<!-- Main -->
<div id="main-wrapper">
	<div class="container">
		<div class="row">
			<div class="{% if page.children or page.parent %}8u{% else %}12u{% endif %}">
				<section class="box">
					<header>
						<h2>{{ page.title }}</h2>
					</header>
					{{ page.content }}
					<footer>
						<!-- Comments -->
				        <h3>Comments</h3>

				        <script data-isso="//comments.ubrew.it/"
				            src="//comments.ubrew.it/js/embed.min.js"></script>

				        <section id="isso-thread"></section>

					</footer>					
				</section>
			</div>

			{% if page.parent %}
			<!-- Sidebar -->
			<div class="4u">
				<section class="box">
					<header>
						<h3>Go up</h3>
						<p><a href="/{{ page.parent.url }}">{{ page.parent.title }}</a></p>
					</header>
				</section>
				<section class="box">
					<header>
						<h3>Contents</h3>
						{% for child in page.parent.children|sort(attribute='menuindex') %}
						<p><a href="/{{ child.url }}">{{ child.title }}</a></p>
						{% endfor %}
					</header>
				</section>
			</div>
			{% endif %}

			{% if page.children %}
			<!-- Sidebar -->
			<div class="4u">
				<section class="box">
					<header>
						<h3>Contents</h3>
						{% for child in page.children|sort(attribute='menuindex') %}
						<p><a href="/{{ child.url }}">{{ child.title }}</a></p>
						{% endfor %}
					</header>
				</section>
			</div>
			{% endif %}


		</div>
	</div>
</div>

</body>

{% endblock %}